<div class="container">

<% @farms.each_slice(4) do |farms| %>
  <div class="Grid Grid--gutters Grid--full large-Grid--fit u-textCenter">
    <% farms.each do |farms| %>
      <div class="Grid-cell">
        <div class="cards">
            <%= link_to farms do %>
            <% end %>
          <h2>
            <%= link_to farms.title, farms %>
          </h2>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

</div>
