<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Homepage - Start Bootstrap Template</title>

    <!-- Custom CSS -->
    <link href="css/shop-homepage.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>



    <!-- Page Content -->
    <div class="sidepanel">
        <img src="assets/bestfresh-logo.png" class="logo"/>
        <p class="sidepanel-text">Local Farming, Healthy Eating</p>
    </div>

    <div class="container">

      <div class="Grid Grid--gutters Grid--full large-Grid--fit u-textCenter">

          <div class="Grid-cell">
            <div class="cards">
              <p>1.2 miles</p>
              <p>64 Beltlive Blvd, Columbia, SC 29205</p>
              <p>Open: M-F / 9am to 5pm</p>
              <h1>Rosewood Farms</h1>
              <p>I have hinted that I would often jerk poor Queequeg from between the whale and the ship—where he would occasionally fall, from the incessant rolling and swaying of both.</p>
              <p>View Details</p>
            </div>
          </div>

        <div class="Grid-cell">
          <div class="cards">
            <p>1.2 miles</p>
            <p>64 Beltlive Blvd, Columbia, SC 29205</p>
            <p>Open: M-F / 9am to 5pm</p>
            <h1>Rosewood Farms</h1>
            <p>I have hinted that I would often jerk poor Queequeg from between the whale and the ship—where he would occasionally fall, from the incessant rolling and swaying of both.</p>
            <p>View Details</p>
          </div>
        </div>

        <div class="Grid-cell">
          <div class="cards">
            <p>1.2 miles</p>
            <p>64 Beltlive Blvd, Columbia, SC 29207</p>
            <p>Open: M-F / 9am to 5pm</p>
            <h1>Rosewood Farms</h1>
            <p>I have hinted that I would often jerk poor Queequeg from between the whale and the ship—where he would occasionally fall, from the incessant rolling and swaying of both.</p>
            <p>View Details</p>
          </div>
        </div>

        <div class="Grid-cell">
          <div class="cards">
            <p>1.2 miles</p>
            <p>64 Beltlive Blvd, Columbia, SC 29205</p>
            <p>Open: M-F / 9am to 5pm</p>
            <h1>Rosewood Farms</h1>
            <p>I have hinted that I would often jerk poor Queequeg from between the whale and the ship—where he would occasionally fall, from the incessant rolling and swaying of both.</p>
            <p>View Details</p>
          </div>
        </div>

      </div>

    </div>
    <!-- /.container -->



    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
