
    <!-- Page Content -->
    <div class="sidepanel">
      <div class="sidepanel-contain">
        <img src="assets/bestfresh-logo.png" class="logo"/>
        <p class="sidepanel-text">Local Farming, Healthy Eating</p>
      </div>

    </div>

    <div class="sidepanel-top">
        <%= image_tag "best-fresh-logo-sm.png" %>
        <!-- <img src="assets/best-fresh-logo-sm.png" class="logo-top"/> -->
        <p class="sidepanel-text-sm">Local Farming, Healthy Eating</p>
    </div>

    <div class="container">

      <div class="Grid Grid--gutters Grid--full large-Grid--fit u-textCenter">

          <div class="Grid-cell">
            <div class="cards">
              <p>1.5 miles</p>
              <p>64 Beltlive Blvd, Columbia, SC 29205</p>
              <p>Open: M-F / 9am to 5pm</p>
              <h1>Rosewood Farms</h1>
              <p>I have hinted that I would often jerk poor Queequeg from between the whale and the ship—where he would occasionally fall, from the incessant rolling and swaying of both.</p>
              <div class="but">
                <a class="button" href="welcome/store">View Details</a>
              </div>
              <div class="icons">
                <ul class="universal-inline-block">
                  <li><img src="assets/icons/eggs-icon.png" class="icons-img"/></li>
                  <li><img src="assets/icons/meat-icon.png" class="icons-img"/></li>
                  <li><img src="assets/icons/milk-icon.png" class="icons-img"/></li>
                  <li><img src="assets/icons/veggie-icon.png" class="icons-img"/></li>
                  <li><img src="assets/icons/seafood-icon.png" class="icons-img"/></li>
                  <li><img src="assets/icons/honey-icon.png" class="icons-img"/></li>
                  <li><img src="assets/icons/fruit-icon.png" class="icons-img"/></li>
                </ul>
              </div>

                <!-- <div class="message">
                  <h1> hello, I'm a hidden message. You found it.</h1>
                  <h2>Now Click the Heart button in the bottom to support CSS3</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquam erat nec ipsum dapibus dapibus. Vestibulum imperdiet dui purus, eu ornare justo consequat vel. Duis mollis interdum turpis, ornare tristique urna commodo vitae. Pellentesque lacinia massa sit amet nisl bibendum mattis vitae ac elit. Pellentesque aliquet tincidunt nunc sit amet lobortis. Praesent cursus ligula in ipsum ultricies placerat. Vivamus eros magna, fermentum scelerisque leo sit amet, sodales ultrices ipsum. Donec ac augue consequat, ultricies tellus vel, auctor urna.</p>
                </div> -->

            </div>
          </div>

        <div class="Grid-cell">
          <div class="cards">
            <p>1.2 miles</p>
            <p>64 Beltlive Blvd, Columbia, SC 29205</p>
            <p>Open: M-F / 9am to 5pm</p>
            <h1>Rosewood Farms</h1>
            <p>I have hinted that I would often jerk poor Queequeg from between the whale and the ship—where he would occasionally fall, from the incessant rolling and swaying of both.</p>
            <p class="viewbutton">View Details</p>
            <div class="icons">
              <ul class="universal-inline-block">
                <li><img src="assets/icons/eggs-icon.png" class="icons-img"/></li>
                <li><img src="assets/icons/meat-icon.png" class="icons-img"/></li>
                <li><img src="assets/icons/milk-icon.png" class="icons-img"/></li>
                <li><img src="assets/icons/veggie-icon.png" class="icons-img"/></li>

                <li><img src="assets/icons/fruit-icon.png" class="icons-img"/></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="Grid-cell">
          <div class="cards">
            <p>1.2 miles</p>
            <p>64 Beltlive Blvd, Columbia, SC 29207</p>
            <p>Open: M-F / 9am to 5pm</p>
            <h1>Rosewood Farms</h1>
            <p>I have hinted that I would often jerk poor Queequeg from between the whale and the ship—where he would occasionally fall, from the incessant rolling and swaying of both.</p>
            <p class="viewbutton">View Details</p>
            <div class="icons">
              <ul class="universal-inline-block">

                <li><img src="assets/icons/seafood-icon.png" class="icons-img"/></li>
                <li><img src="assets/icons/honey-icon.png" class="icons-img"/></li>
                <li><img src="assets/icons/fruit-icon.png" class="icons-img"/></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="Grid-cell">
          <div class="cards">
            <p>1.2 miles</p>
            <p>64 Beltlive Blvd, Columbia, SC 29205</p>
            <p>Open: M-F / 9am to 5pm</p>
            <h1>Rosewood Farms</h1>
            <p>I have hinted that I would often jerk poor Queequeg from between the whale and the ship—where he would occasionally fall, from the incessant rolling and swaying of both.</p>
            <p class="viewbutton">View Details</p>
            <div class="icons">
              <ul class="universal-inline-block">
                <li><img src="assets/icons/eggs-icon.png" class="icons-img"/></li>
                <li><img src="assets/icons/meat-icon.png" class="icons-img"/></li>
                <li><img src="assets/icons/milk-icon.png" class="icons-img"/></li>
                <li><img src="assets/icons/veggie-icon.png" class="icons-img"/></li>

                <li><img src="assets/icons/fruit-icon.png" class="icons-img"/></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="Grid-cell">
          <div class="cards">
            <p>1.2 miles</p>
            <p>64 Beltlive Blvd, Columbia, SC 29205</p>
            <p>Open: M-F / 9am to 5pm</p>
            <h1>Rosewood Farms</h1>
            <p>I have hinted that I would often jerk poor Queequeg from between the whale and the ship—where he would occasionally fall, from the incessant rolling and swaying of both.</p>
            <p class="viewbutton">View Details</p>
            <div class="icons">
              <ul class="universal-inline-block">
                <li><img src="assets/icons/eggs-icon.png" class="icons-img"/></li>

                <li><img src="assets/icons/veggie-icon.png" class="icons-img"/></li>
                <li><img src="assets/icons/seafood-icon.png" class="icons-img"/></li>
                <li><img src="assets/icons/honey-icon.png" class="icons-img"/></li>
                <li><img src="assets/icons/fruit-icon.png" class="icons-img"/></li>
              </ul>
            </div>
          </div>
        </div>

      </div>

    </div>
    <!-- /.container -->



    <!-- jQuery -->
    <script src="assets/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Panel JavaScript -->
    <script src="http://code.jquery.com/jquery-[latest].min.js"></script>
    <script src="assets/slidereveal.js"></script>

    <!-- <script type="text/javascript">
    	$(function(){
        slider = $("#slider").slideReveal({
          width: "50%",
          push: false,
          position: "right",
          speed: 600,
          trigger: $("#trigger"),
          // autoEscape: false,
          show: function(obj){
            console.log(obj);
          },
          shown: function(obj){
            console.log(obj);
          },
          hide: function(obj){
            console.log(obj);
          },
          hidden: function(obj){
            console.log(obj);
          },
          overlay: true
        });

        slider2 = $("#slider2").slideReveal({
          // width: "100px",
          push: false,
          position: "left",
          speed: 600,
          trigger: $("#trigger2"),
          // autoEscape: false,
          overlay: true,
          top: 100,
          overlayColor: 'rgba(255,255,255,0.5)'
        });
    	});

      /*
      Then you call:
      $("#slider").slideReveal("show");
      $("#slider").slideReveal("hide");
      $("#slider").slideReveal("toggle");
      */
    </script> -->
