  <div class="container">

      <div class="Grid Grid--gutters Grid--full large-Grid--fit u-textCenter">

          <div class="Grid-cell">
            <div class="cards">
              <p>1.5 miles</p>
              <p>64 Beltlive Blvd, Columbia, SC 29205</p>
              <p>Open: M-F / 9am to 5pm</p>
              <h1>Rosewood Farms</h1>
              <p>I have hinted that I would often jerk poor Queequeg from between the whale and the ship—where he would occasionally fall, from the incessant rolling and swaying of both.</p>
              <div class="but">
                <a class="button" href="welcome/store">View Details</a>
              </div>
              <div class="icons">
                <ul class="universal-inline-block">
                  <li><img src="assets/icons/eggs-icon.png" class="icons-img"/></li>
                  <li><img src="assets/icons/meat-icon.png" class="icons-img"/></li>
                  <li><img src="assets/icons/milk-icon.png" class="icons-img"/></li>
                  <li><img src="assets/icons/veggie-icon.png" class="icons-img"/></li>
                  <li><img src="assets/icons/seafood-icon.png" class="icons-img"/></li>
                  <li><img src="assets/icons/honey-icon.png" class="icons-img"/></li>
                  <li><img src="assets/icons/fruit-icon.png" class="icons-img"/></li>
                </ul>
              </div>
            </div>
          </div>

        <div class="Grid-cell">
          <div class="cards">
            <p>1.2 miles</p>
            <p>64 Beltlive Blvd, Columbia, SC 29205</p>
            <p>Open: M-F / 9am to 5pm</p>
            <h1>Rosewood Farms</h1>
            <p>I have hinted that I would often jerk poor Queequeg from between the whale and the ship—where he would occasionally fall, from the incessant rolling and swaying of both.</p>
            <p class="viewbutton">View Details</p>
            <div class="icons">
              <ul class="universal-inline-block">
                <li><img src="assets/icons/eggs-icon.png" class="icons-img"/></li>
                <li><img src="assets/icons/meat-icon.png" class="icons-img"/></li>
                <li><img src="assets/icons/milk-icon.png" class="icons-img"/></li>
                <li><img src="assets/icons/veggie-icon.png" class="icons-img"/></li>

                <li><img src="assets/icons/fruit-icon.png" class="icons-img"/></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="Grid-cell">
          <div class="cards">
            <p>1.2 miles</p>
            <p>64 Beltlive Blvd, Columbia, SC 29207</p>
            <p>Open: M-F / 9am to 5pm</p>
            <h1>Rosewood Farms</h1>
            <p>I have hinted that I would often jerk poor Queequeg from between the whale and the ship—where he would occasionally fall, from the incessant rolling and swaying of both.</p>
            <p class="viewbutton">View Details</p>
            <div class="icons">
              <ul class="universal-inline-block">

                <li><img src="assets/icons/seafood-icon.png" class="icons-img"/></li>
                <li><img src="assets/icons/honey-icon.png" class="icons-img"/></li>
                <li><img src="assets/icons/fruit-icon.png" class="icons-img"/></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="Grid-cell">
          <div class="cards">
            <p>1.2 miles</p>
            <p>64 Beltlive Blvd, Columbia, SC 29205</p>
            <p>Open: M-F / 9am to 5pm</p>
            <h1>Rosewood Farms</h1>
            <p>I have hinted that I would often jerk poor Queequeg from between the whale and the ship—where he would occasionally fall, from the incessant rolling and swaying of both.</p>
            <p class="viewbutton">View Details</p>
            <div class="icons">
              <ul class="universal-inline-block">
                <li><img src="assets/icons/eggs-icon.png" class="icons-img"/></li>
                <li><img src="assets/icons/meat-icon.png" class="icons-img"/></li>
                <li><img src="assets/icons/milk-icon.png" class="icons-img"/></li>
                <li><img src="assets/icons/veggie-icon.png" class="icons-img"/></li>

                <li><img src="assets/icons/fruit-icon.png" class="icons-img"/></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="Grid-cell">
          <div class="cards">
            <p>1.2 miles</p>
            <p>64 Beltlive Blvd, Columbia, SC 29205</p>
            <p>Open: M-F / 9am to 5pm</p>
            <h1>Rosewood Farms</h1>
            <p>I have hinted that I would often jerk poor Queequeg from between the whale and the ship—where he would occasionally fall, from the incessant rolling and swaying of both.</p>
            <p class="viewbutton">View Details</p>
            <div class="icons">
              <ul class="universal-inline-block">
                <li><img src="assets/icons/eggs-icon.png" class="icons-img"/></li>

                <li><img src="assets/icons/veggie-icon.png" class="icons-img"/></li>
                <li><img src="assets/icons/seafood-icon.png" class="icons-img"/></li>
                <li><img src="assets/icons/honey-icon.png" class="icons-img"/></li>
                <li><img src="assets/icons/fruit-icon.png" class="icons-img"/></li>
              </ul>
            </div>
          </div>
        </div>

      </div>

    </div>
    <!-- /.container -->
