<!-- Page Content -->

<div class="backhome">
  <!-- <%= link_to 'Text to be linked', 'some_URL' %> -->
  <a href="/"><%= image_tag "back-arrow-2.png" %></a>
</div>

<div class="container-store">
  <h1>Rosewood Farms</h1>
</div>
<!-- /.container -->
